@if (errorMessage) {
  <div class="alert alert-danger m-3">{{ errorMessage }}</div>
}

@if (cvData) {
  <div class="resume container shadow-lg my-5">
    <div class="row g-0 position-relative">

      <div class="vertical-divider position-absolute top-0 bottom-0"></div>

      <aside class="col-md-5 left-column d-flex flex-column">
        <app-left-column [cvData]="cvData"></app-left-column>
      </aside>

      <main class="col-md-7 right-column bg-white p-5">
        <app-right-column [cvData]="cvData"></app-right-column>
      </main>

    </div>
  </div>
}